* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    background: rgb(232, 232, 232);
    background-image: url('https://raw.githubusercontent.com/DBDacanay/DGRlex/main/backgroundpattern.png');

}

.keyboard{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.05rem;
  margin-top: 17px;
}

.keyboard > .btn{
  font-size: 2rem;
  width: 40px;
  border-radius: 4px;
  border-width: 0.5px;
  background-image: none;
}

.logoTextAnchor {
  margin-top: auto;
  margin-bottom: auto;
  background-image: none;
}

.logoText {
  justify-content: center;
  background-image: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 5px;
  width: 71px;
  height: 65px;
  opacity: 90%;
}

.logoText:hover {
  opacity: 100%;
  cursor: pointer;
}

.material-icons {
  opacity:80%;
  color: rgb(73, 73, 73);
}

.material-icons:hover {
  opacity: 100%;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 80px;
  right: 0;
  height: 30vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(236, 236, 236);
  background-image: none;
  display:none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}

.sidebar a{
  padding: 0 30px;
  width: 100%;
  text-decoration: none;
  background-image: none;
  background-color: rgb(236, 236, 236);
  display: flex;
  align-items: center;
  color: black;
  padding-top: 16px;
  padding-bottom: 16px;
}

.sidebar a:hover{
  background-color: lightgrey;
}

.contact-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill);
    border: 2px solid #777;
    border-radius: 16px;
    border-width: 0.5px;
    padding: 15px;
    width: 600px;
    background-color: white;
    max-width: 600px;
    background-image: none;
    width: 100%;
}

.boxTitle {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    color: midnightblue;
    background-image: none;
    background-color: white;
}

.boxTitleLine {
  margin-top: 10px;
  margin-bottom: 10px;
  visibility: hidden;
}

.contact-left {
    background-image: none;
    background-color: white;
}

.fieldTitle {
  font-size: 1rem;
  font-family: "roboto", sans-serif;
  color: rgba(0, 0, 0, 0.867);
  background-color: white;
  background-image: none;
}
.contact-inputs {
  display:flex;
  border: 2px solid #777;
  border-radius: 5px;
  margin-top: 10px;
  background-image: url('https://raw.githubusercontent.com/DBDacanay/DGRlex/main/backgroundpattern.png');
  margin-bottom: 8px;
  text-indent: 3px;
}

.contact-inputs:hover {
  border-color: darkgrey;
}

.contact-inputs::placeholder {
  margin-left: 10%;
  align-items: right;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.searchBox {
    display: flex;
    overflow: auto;
}

.searchContainer {
    display: flex;
    font-family: "roboto", sans-serif;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    background: white;
    height: 40px;
    width: 600px;
    border-radius: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
}

.searchBox {
  background: rgb(236, 236, 236);
  background-image: none;
  
}

.searchBar {
    font-size: 2rem;
    font-family: "roboto", sans-serif;
    align-items: right;
    font-size: 1.5rem;
    gap: .25rem;
    height: 30px;
    width: 570px;
    margin-left: 5px;
    background: white;
    background-image: none;
}

input {
    border: none;
    outline: none;
    background: none;
}

.submit {
  margin-top: 6px;
  justify-content: center;
  height: 40px;
  width: 70px;
  border-radius: 4px;
  border-width: 0.5px;
  border-color: grey;
  background-image: none;
}

.submit:hover {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.switchbutton {
    justify-content: center;
    height: 25px;
    border-radius: 4px;
    border-width: 0.5px;
    border-color: lightgrey;
    background-image: none;
}

.switchbutton:hover {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.switchbutton:active {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.switchbutton:focus {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.bothButton {
  justify-content: center;
  height: 25px;
  border-radius: 4px;
  border-width: 0.5px;
  border-color: lightgrey;
  background-image: none;
  margin-right: 6px;
}

.bothButton:hover {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.special {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.bothButton:focus-within {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.siteFooter {
  display: flex;
  position: relative;
  clear: both;
  height: 60px;
  margin-top: auto;
  justify-content: right;
  background: rgb(236, 236, 236);
}

.footerHeader {
  display: flex;
  position: relative;
  clear: both;
  margin-top: 26px;
  border-radius: 14px;
  justify-content: left;
  background: rgb(236, 236, 236);
}

.copyrightNotice {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 1.5%;
  align-items: left;
  background: rgb(236, 236, 236);
  color: rgba(47, 79, 79, 0.5);
  font-size: 0.95rem;

}