* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    background: rgb(232, 232, 232);
    background-image: url('https://raw.githubusercontent.com/DBDacanay/DGRlex/main/backgroundpattern.png');

}

.fullBackground {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.logo {
    display: flex;
    justify-content: left;
    width: 70px;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    background-color: transparent;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logoTextAnchor {
  margin-top: auto;
  margin-bottom: auto;
  background-image: none;
  background-color: transparent;
}

.logoText {
  justify-content: center;
  background-image: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 5px;
  width: 71px;
  height: 65px;
  opacity: 90%;
  background-color: transparent;
}

.logoText:hover {
  opacity: 100%;
  cursor: pointer;
}

.titleText {
  width: 140px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  font-weight: bold;
  color: midnightblue;
  background-image: none;
  cursor: default;
  margin-left: 10px;
  opacity: 90%;
  background-color: transparent;

}
.material-icons {
  opacity:80%;
  color: rgb(73, 73, 73);
  background-color: transparent;
}

.material-icons:hover {
  opacity: 100%;
  cursor: pointer;}

.searchBox {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
}

.searchContainer {
    display: flex;
    font-family: "roboto", sans-serif;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    background: white;
    height: 40px;
    width: 600px;
    border-radius: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
}

.searchBox {
  background: rgb(236, 236, 236);
  background-image: none;
  
}

.searchBar {
    font-size: 2rem;
    font-family: "roboto", sans-serif;
    align-items: right;
    font-size: 1.5rem;
    gap: .25rem;
    height: 30px;
    width: 570px;
    margin-left: 5px;
    background: white;
    background-image: none;
}

.homepageLink {
  width: 71.5%;
}

input {
    border: none;
    outline: none;
    background: none;
}

.switchbutton {
    justify-content: center;
    height: 25px;
    border-radius: 4px;
    border-width: 0.5px;
    border-color: lightgrey;
    background-image: none;
}

.switchbutton:hover {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.switchbutton:active {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.switchbutton:focus {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.bothButton {
  justify-content: center;
  height: 25px;
  border-radius: 4px;
  border-width: 0.5px;
  border-color: lightgrey;
  background-image: none;
  margin-right: 6px;
}

.bothButton:hover {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.special {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.special1 {
  border-color: darkgrey;
  border-width: 3px;
  background-color: rgba(169, 169, 169, 0.434);
  cursor: pointer;
}

.bothButton:focus-within {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 80px;
  right: 0;
  height: 30vh;
  width: 250px;
  z-index: 999;
  background-color: rgb(236, 236, 236);
  background-image: none;
  display:none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}

.sidebar a{
  padding: 0 30px;
  width: 100%;
  text-decoration: none;
  background-image: none;
  background-color: rgb(236, 236, 236);
  display: flex;
  align-items: center;
  color: black;
  padding-top: 16px;
  padding-bottom: 16px;
}

.sidebar a:hover{
  background-color: lightgrey;
}

.searchMenu {
  margin-top: 100px;
  width: 600px;
  line-height: 30px;
  text-align:center;
  margin-right: auto;
  margin-left: auto;
  background-image: none;
  border-radius: 4px;
  border-width: 2px;
  border-color: grey;
  position: relative;
}

.searchMenu:hover {
  border-color: darkgrey;
  border-width: 2px;
  background-color: lightgrey;
  cursor:pointer;
}

.semanticSearch {
  display: block;
  width: 400px;
  border-radius: 4px;
  border-color: lightgrey;
  background-image: none;
  align-items:center;
}

.semanticSearch:hover {
  cursor:pointer;
  background-color: lightgrey;
}

.semanticSearch:active {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.semanticSearch:focus {
  border-color: darkgrey;
  background-color: rgba(169, 169, 169, 0.434);
  border-width: 3px;
  cursor: pointer;
}

.semanticSearch1 {
  display: block;
  width: 380px;
  border-radius: 4px;
  border-color: lightgrey;
  background-image: none;
}

.semanticSearch1:hover {
  cursor:pointer;
  background-color: lightgrey;
}

.semanticSearch1:active {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.semanticSearch1:focus {
  border-color: darkgrey;
  background-color: rgba(169, 169, 169, 0.434);
  border-width: 3px;
  cursor: pointer;
}

.semanticSearch2 {
  display: block;
  width: 360px;
  border-radius: 4px;
  border-color: lightgrey;
  background-image: none;
}

.semanticSearch2:hover {
  cursor:pointer;
  background-color: lightgrey;
}

.semanticSearch2:active {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.semanticSearch2:focus {
  border-color: darkgrey;
  background-color: rgba(169, 169, 169, 0.434);
  border-width: 3px;
  cursor: pointer;
}

.semanticSearch3 {
  display: block;
  width: 340px;
  border-radius: 4px;
  border-color: lightgrey;
  background-image: none;
}

.semanticSearch3:hover {
  cursor:pointer;
  background-color: lightgrey;
}

.semanticSearch3:active {
  border-color: darkgrey;
  border-width: 3px;
  cursor: pointer;
}

.semanticSearch3:focus {
  border-color: darkgrey;
  background-color: rgba(169, 169, 169, 0.434);
  border-width: 3px;
  cursor: pointer;
}

.semanticDomainButtonWrapper {
  position: relative;
  margin-top: 10px;
  width: 200px;
  margin-right:200px;
}

.semExpand {
  position: absolute;
  width: 20px;
  border-color: lightgrey;
  border-radius: 4px;
  background-image: none;
  background-color: rgba(211, 211, 211, 0.205);

}

.semExpand:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.522);

}

.semOne {
  position: relative;
}

.semTwo {
  display:block
}

.advancedSearch {
  top: 80px;
  right: 0;
  width: 600px;
  display: none;
  background-color: rgb(236, 236, 236);
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}


.keyboard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.05rem;
    margin-top: 20px;
    border-color: black;
    border-radius: 15px;

  }
  
  .keyboard > .btn{
    font-size: 2rem;
    width: 40px;
    margin-bottom: 20px;
    border-radius: 4px;
    border-width: 0.5px;
    background-image: none;
  }

.data {
    width: 73%;
    border-radius: 3px;
    height: 92vh;
    overflow-y: auto;
}

.top {
    height: 60px;
    border-radius: 3px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header {
    height: 200px;
    border-radius: 3px;
    background-color: #333;
    margin: 3vh 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header p {
    font-size: 40px;
    font-weight: bold;
    color: white;
    
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    width: 100%;
}

.welcomeBox {
  margin: 1px;
  display: grid;
  grid-template-columns: repeat(auto-fill);
  border: 2px solid #777;
  border-radius: 16px;
  border-width: 0.5px;
  padding: 15px;
  width: 600px;
  background-color: white;
  max-width: 600px;
  background-image: none;
  width: 100%;
}

.welcomeHeader {
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  color: midnightblue;
  position: relative;
  background-image: none;    
  width: auto;
  max-width: 600px;
  margin-bottom: 15px;
}

.welcomeText {
  background-color: white;
  background-image: none;    
  margin-bottom: 10px;
}

.welcomeLink {
  background-color: white;
  background-image: none;    
}

.box {
    margin: 1px;
    display: grid;
    grid-template-columns: repeat(auto-fill);
    border: 2px solid #777;
    border-radius: 16px;
    border-width: 0.5px;
    padding: 15px;
    width: 600px;
    background-color: white;
    max-width: 600px;
    background-image: none;
    width: 100%;
}
.img-box {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: none;
}

.material-symbols-outlined {
    background-image: none; 
}

.headword {
    background-color: white;
    font-size: 2.2rem;
    font-family: "roboto", sans-serif;
    color:black;
    position: relative;
    background-image: none;    
    width: auto;
    max-width: 600px;
}

.speech {
    width: 100px;
    height: 35px;
    margin-left: -0.7rem;
    background-color: #33333300;
    position: relative;
    top: 4.5px;
    background-image: none;
   }
 
   audio::-webkit-media-controls-panel {
     background-color: rgb(255, 255, 255);
   }
 
   audio::-webkit-media-controls-play-button {
     background-color: rgb(117, 100, 226, 0.392);
     color: white;
     border-radius: 50%;
   }
   
   audio::-webkit-media-controls-play-button:hover {
     background-color: rgba(117, 100, 226, 0.178);
   }
 
   audio::-webkit-media-controls-timeline {
     visibility: hidden;
   }
 
   audio::-webkit-media-controls-mute-button {
     display: none !important;
   }
   audio::-webkit-media-controls-volume-slider {
     visibility:hidden;
   }

   .hide {
    display: none;
    border-style: dashed;
    border-width: 1px;
    border-color: #777;
    border-radius: 4px;
    margin-bottom: 12px;
   }
   .exitbutton {
    position: relative;
    left: 90%;
    width: 20px;
   }

   .noteButtons {
    position: relative;
    display:row;
    align-items: right;
    left: 90%;
    bottom: 50%;
    position: relative;
    height: 1px;
   }

   .imagebutton {
    position: relative;
    font-size: 0.8rem;
    border: 0px;
    left: 90%;
    top:-920%;
    width: 50px;
    height: 5px;
    background-color: white;
    background-image: none;
  }

  .imagebutton:hover {
    color: grey;
    cursor: pointer;
  }

  .sampleimage {
    position: relative;
    left: 60%;
  }
  .culturebutton {
    position: relative;
    font-size: 0.8rem;
    left: 83%;
    top:-1000%;
    border: 0px;
    width: 50px;
    height: 5px;
    background-color: white;
    background-image: none;
  }
  
  .culturebutton:hover {
    color: grey;
    cursor: pointer;
  }

  .contextLabel {
    font-style: italic;
    font-size: 16px;
  }
  .culturalNoteText {
    font-style: italic;
    font-size: 15px;
  }

  .culturebutton:focus + .hide{
    display: block;
  }

  .imagebutton:focus + .hide1 {
    display: block;
  }

  .d-none { 
    display: none; 
}

  .modal {
    margin: 1px;
    display: fixed;
    grid-template-columns: repeat(auto-fill);
    align-items: center;
    justify-content: center;
    border: 2px solid #777;
    border-radius: 16px;
    border-width: 0.5px;
    padding: 15px;
    width: 600px;
    background-color: white;
    max-width: 600px;
    background-image: none;
    width: 100%;
    margin: auto;
  }
  
  .modal img {
    height: 400px;
    width: 600px;
  }
  
  .modal-inner {
    display: row;
    align-items: center;
  }
  
  .modal > .modal-inner > .closeModal {
    position: relative;
    display: column;
    height: 50px;
    top: 10px;
  }

  .displayImage {
    max-width: 570px;
    max-height: 400px;
  }

  .material-symbols-outlined {
    background-color: white;
  }

.pos {
    font-size: .8rem;
    font-family: "roboto", sans-serif;
    color: #777;
    background-color: white;
    margin-bottom: 0px;
    background-image: none;
    max-width: 560px;
}

.poslink {
  font-size: .8rem;
  font-family: "roboto", sans-serif;
  color: #777;
  background-color: white;
  margin-bottom: 0px;
  background-image: none;
  max-width: 560px;
}

.semdom {
    font-size: .8rem;
    font-family: "roboto", sans-serif;
    color: #777;
    background-color: white;
    margin-left: 16px;
    background-image: none;
}

.semdom:hover + .hide1 {
  display: none;
}

.source {
  font-size: .8rem;
  font-family: "roboto", sans-serif;
  margin-left: 16px;
  color: #777;
  background-color: white;
  background-image: none;
  text-decoration: none;
}

.hide2 {
  display: none;
  font-size: .8rem;
  font-family: "roboto", sans-serif;
  color: #777;
  background-color: white;
}

#source:hover + .hide2 {
  display: block;
}

.speaker {
  font-size: .8rem;
  font-family: "roboto", sans-serif;
  margin-left: 16px;
  color: #777;
  background-color: white;
  background-image: none;
  text-decoration: none;
}

.definition {
    background-color: white;
    color: black;
    margin-top: 12px;
    background-image: none;
    min-height: 0;
}

.inTextItalics {
  background-image: none;
  background-color: white;
}
.alternateForm {
  background-color: white;
  background-image: none;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.alternateForm:empty {
  display:none;
}

.sentenceDivider {
    font-size: 1rem;
    margin-top: 20px;
    background: white;
    min-height: 0;
}

.sentenceDivider:empty {
  margin:0;
}

.dgrExample {
    margin-top:12px;
    background-color: white;
    font-weight: bold;
    font-style: italic;
    background-image: none;
    min-height: 0;
}

.dgrExample:empty {
  margin:0;
}

.engExample {
    background-color: white;
    font-size: .85rem;
    color: black;
    background-image: none;
    min-height: 0;
    margin-bottom: 12px;
}

.engExample:empty {
  margin:0;
}

.exampleSource {
  font-size: .85rem;
  color: lightgrey;
  background-color:white;
  background-image: none;
  margin-top:-10px;
  margin-bottom:12px;
}

.paradigm {
    width: 100%;
    font-size: 100rem;
    min-height: 0;
    background-image: none;
    background-color: white;
    width: 100%;
}

.paradigm:empty {
  display:none;
}

.paradigmTitle {
    min-height: 0;
    background-image: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgrey;
    width: auto;
}

.paradigmHeader {
  text-align: center;
  font-size: 20rem;
}

.betweener {
  background-color: white;
  text-align: center;
  visibility: hidden;
  font-size: 10px;
}

.paradigmImpersonal {
  width: 100%;
  font-size: 100rem;
  min-height: 0;
  background-image: none;
  background-color: white;
}

.images {
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
}

h2 {
    font-family: "roboto", sans-serif;
    color: #777;
}

.btn:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.btn:active {
  border-color: darkgrey;
  background-color: rgba(169, 169, 169, 0.511);
  cursor: pointer;
}

.siteFooter {
  position: flex;
  bottom: 0;
  clear: both;
  width: 100%;
  margin-bottom: 0px;
  margin-top: auto;
  min-height: 50px; 
  max-height: 100px;
  border-width: 2px;
  justify-content: right;
  background: rgb(236, 236, 236);
}

.footerHeader {
  color: darkgray;
}

.copyrightNotice {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 1.5%;
  align-items: left;
  background: rgb(236, 236, 236);
  color: rgba(47, 79, 79, 0.5);
  font-size: 0.95rem;

}

.contact-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(auto-fill);
  border: 2px solid #777;
  border-radius: 16px;
  border-width: 0.5px;
  padding: 15px;
  width: 600px;
  background-color: white;
  max-width: 600px;
  background-image: none;
  width: 100%;
}

.boxTitle {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  color: midnightblue;
  background-image: none;
  background-color: white;
}

.boxTitleLine {
margin-top: 10px;
margin-bottom: 10px;
visibility: hidden;
}

.contact-left {
  background-image: none;
  background-color: white;
}

.fieldTitle {
font-size: 1rem;
font-family: "roboto", sans-serif;
color: rgba(0, 0, 0, 0.867);
background-color: white;
background-image: none;
}
.contact-inputs {
display:flex;
border: 2px solid #777;
border-radius: 5px;
margin-top: 10px;
background-image: url('https://raw.githubusercontent.com/DBDacanay/DGRlex/main/backgroundpattern.png');
margin-bottom: 8px;
text-indent: 3px;
}

.contact-inputs:hover {
border-color: darkgrey;
}

.contact-inputs::placeholder {
margin-left: 10%;
align-items: right;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

input {
  border: none;
  outline: none;
  background: none;
}

.submit {
margin-top: 6px;
justify-content: center;
height: 40px;
width: 70px;
border-radius: 4px;
border-width: 0.5px;
border-color: grey;
background-image: none;
}

.submit:hover {
border-color: darkgrey;
border-width: 3px;
cursor: pointer;
}

.bibliographyHeader {
  background-image:none;
  background-color:white;
  margin-top: 10px;
}

