.letHead{
	-moz-column-count:1;
	-webkit-column-count:1;
	column-count:1;
	clear:both;
	width:100%;
	text-align:center;
	text-indent:-12pt;
	margin-left:21pt;
	flex-line-height:12pt;
	line-height:12pt;
	padding-bottom:3pt;
	padding-top:12pt;
}
body{
	font-size:10pt;
}
span[lang='en']{
	font-family:'Charis SIL',serif;
}
span[lang='dgr']{
	font-family:'Charis SIL',serif;
}
span[lang='dgr-Zxxx-x-audio']{
	font-family:'Charis SIL',serif;
}
.letter[lang='en']{
	font-size:14pt;
	font-weight:bold;
}
.letter[lang='dgr']{
	font-size:14pt;
	font-weight:bold;
}
.letter[lang='dgr-Zxxx-x-audio']{
	font-size:14pt;
	font-weight:bold;
}
a{
	text-decoration:inherit;
	color:inherit;
}
*[dir='ltr'], *[dir='rtl']{
	unicode-bidi:isolate;
	unicode-bidi:-ms-isolate;
	unicode-bidi:-moz-isolate;
}
a.dgr-Zxxx-x-audio:after{
	content:'🔊';
}
a.dgr-Zxxx-x-audio{
	text-decoration:none;
}
.entry{
	clear:both;
	white-space:pre-wrap;
}
.entry{
	text-indent:-12pt;
	margin-left:21pt;
	flex-line-height:12pt;
	line-height:12pt;
	padding-bottom:2pt;
	padding-top:1pt;
}
.entry .mainheadword> .mainheadwor+ .mainheadwor:before{
	content:' ';
}
.entry .mainheadword> span:last-child:after{
	content:' ';
}
.entry .mainheadword> span[lang='dgr']{
	font-weight:bold;
}
.entry .mainheadword> span{
	font-weight:bold;
}
.entry .mainheadword> span span[lang='en']{
	font-weight:bold;
}
.entry .mainheadword> span span[lang='dgr']{
	font-weight:bold;
}
.entry .mainheadword> span span[lang='dgr-Zxxx-x-audio']{
	font-weight:bold;
}
.entry .senses>  span.sensecontent +  span:before{
	content:'  ';
}
.entry .senses:before{
	content:' ';
}
.entry .senses:after{
	content:' ';
}
.entry .senses > .sensecontent .sensenumber{
	font-weight:bold;
}
.entry .senses > .sensecontent .sensenumber:after{
	content:') ';
}
.entry .senses .morphosyntaxanalysis:after{
	content:'  ';
}
.entry .senses .morphosyntaxanalysis{
	font-style:italic;
}
.entry .senses .morphosyntaxanalysis span[lang='en']{
	font-style:italic;
}
.entry .senses .morphosyntaxanalysis span[lang='dgr']{
	font-style:italic;
}
.entry .senses .morphosyntaxanalysis span[lang='dgr-Zxxx-x-audio']{
	font-style:italic;
}
.entry .senses .morphosyntaxanalysis .partofspeech> .partofspeec+ .partofspeec:before{
	content:' ';
}
.entry .senses .definitionorgloss> .definitionorglos+ .definitionorglos:before{
	content:' ';
}
.entry .senses .examplescontents> .examplescontent + .examplescontent:before{
	content:'  ';
}
.entry .senses .examplescontents:before{
	content:'  ';
}
.entry .senses .examplescontents .example> .exampl+ .exampl:before{
	content:' ';
}
.entry .senses .examplescontents .example> span[lang='dgr']{
	font-style:italic;
}
.entry .senses .examplescontents .example> span{
	font-style:italic;
}
.entry .senses .examplescontents .example> span span[lang='en']{
	font-style:italic;
}
.entry .senses .examplescontents .example> span span[lang='dgr']{
	font-style:italic;
}
.entry .senses .examplescontents .example> span span[lang='dgr-Zxxx-x-audio']{
	font-style:italic;
}
.entry .senses .examplescontents .translationcontents:before{
	content:' ';
}
.entry .senses .examplescontents .translationcontents .translation> .translatio+ .translatio:before{
	content:' ';
}
.entry .senses .examplescontents .translationcontents .translation> span:first-child:before{
	content:' ';
}
.entry .senses .semanticdomains> .semanticdomain + .semanticdomain:before{
	content:'; ';
}
.entry .senses .semanticdomains:before{
	content:' ';
}
.entry .senses .semanticdomains .abbreviation> .abbreviatio+ .abbreviatio:before{
	content:' ';
}
.entry .senses .semanticdomains .abbreviation> span:last-child:after{
	content:' - ';
}
.entry .senses .semanticdomains .name> .nam+ .nam:before{
	content:' ';
}
.entry .visiblecomplexformbackrefs> .visiblecomplexformbackref + .visiblecomplexformbackref:before{
	content:', ';
}
.entry .visiblecomplexformbackrefs:before{
	content:'  ';
}
.entry .visiblecomplexformbackrefs .headword> .headwor+ .headwor:before{
	content:' ';
}
.entry .visiblecomplexformbackrefs .headword> span:first-child:before{
	content:' ';
}
.entry .visiblecomplexformbackrefs .headword> span[lang='dgr']{
	font-weight:bold;
}
.entry .visiblecomplexformbackrefs .headword> span{
	font-weight:bold;
}
.entry .visiblecomplexformbackrefs .headword> span span[lang='en']{
	font-weight:bold;
}
.entry .visiblecomplexformbackrefs .headword> span span[lang='dgr']{
	font-weight:bold;
}
.entry .visiblecomplexformbackrefs .headword> span span[lang='dgr-Zxxx-x-audio']{
	font-weight:bold;
}
.entry .visiblecomplexformbackrefs .definitionorglosses> .definitionorgloss+ .definitionorgloss:before{
	content:' ';
}
.entry .visiblecomplexformbackrefs .definitionorglosses> span:first-child:before{
	content:' ';
}
.entry .visiblecomplexformbackrefs > .visiblecomplexformbackref + .complexformtypes:before{
	content:', ';
}
.entry .visiblecomplexformbackrefs .complexformtypes .abbreviation-2> .abbreviatio+ .abbreviatio:before{
	content:' ';
}